<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>mypackage.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomQuestionsServlet</servlet-name>
        <servlet-class>mypackage.RandomQuestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>mypackage.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartExamServlet</servlet-name>
        <servlet-class>mypackage.StartExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetExamsServlet</servlet-name>
        <servlet-class>mypackage.GetExamsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsersServlet</servlet-name>
        <servlet-class>mypackage.GetUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsersToExamServlet</servlet-name>
        <servlet-class>mypackage.AddUsersToExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addQuestionsServlet</servlet-name>
        <servlet-class>mypackage.addQuestionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>mypackage.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsersServlet</servlet-name>
        <servlet-class>mypackage.AddUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addExamCenterServlet</servlet-name>
        <servlet-class>mypackage.addExamCenterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsersAndExamCentersServlet</servlet-name>
        <servlet-class>mypackage.GetUsersAndExamCentersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminToExamCenterServlet</servlet-name>
        <servlet-class>mypackage.AddAdminToExamCenterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultsServlet</servlet-name>
        <servlet-class>mypackage.ResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetExamCentersServlet</servlet-name>
        <servlet-class>mypackage.GetExamCentersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExamServlet</servlet-name>
        <servlet-class>mypackage.AddExamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomQuestionsServlet</servlet-name>
        <url-pattern>/RandomQuestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/ExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartExamServlet</servlet-name>
        <url-pattern>/StartExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetExamsServlet</servlet-name>
        <url-pattern>/GetExamsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsersServlet</servlet-name>
        <url-pattern>/GetUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsersToExamServlet</servlet-name>
        <url-pattern>/AddUsersToExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addQuestionsServlet</servlet-name>
        <url-pattern>/addQuestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsersServlet</servlet-name>
        <url-pattern>/AddUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addExamCenterServlet</servlet-name>
        <url-pattern>/addExamCenterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsersAndExamCentersServlet</servlet-name>
        <url-pattern>/GetUsersAndExamCentersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminToExamCenterServlet</servlet-name>
        <url-pattern>/AddAdminToExamCenterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsServlet</servlet-name>
        <url-pattern>/ResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetExamCentersServlet</servlet-name>
        <url-pattern>/GetExamCentersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExamServlet</servlet-name>
        <url-pattern>/AddExamServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
